@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Montserrat:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:url("forest.jpg") no-repeat center center;
    background-size:cover;
    font-family:'Montserrat', sans-serif;
    color:white;
    text-align:center;
    min-height:100vh;
}

/* Qaranlıq effekt */
body::before{
    content:"";
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.9);
    z-index:0;
}

header{
    position:relative;
    z-index:2;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

/* TOP BAR */
.topbar{
    position:absolute;
    top:20px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.page-title{
    font-weight:bold;
    font-size:20px;
}

.burger{
    position:absolute;
    right:25px;
    font-size:28px;
    cursor:pointer;
}

/* SIDE MENU */
.side-menu{
    position:fixed;
    top:0;
    right:-250px;
    width:250px;
    height:100vh;
    background:black;
    padding-top:80px;
    transition:0.4s;
    z-index:5;
}

.side-menu a{
    display:block;
    padding:15px;
    color:white;
    text-decoration:none;
    border-bottom:1px solid #222;
}

.side-menu a:hover{
    background:red;
}

.side-menu.active{
    right:0;
}

/* LOGO */
.logo img{
    width:280px;
    max-width:80%;
}

/* SLOGAN */
.slogan{
    margin-top:25px;
    font-family:'Creepster', cursive;
    font-size:40px;
    color:red;
    text-shadow:0 0 25px red;
}

/* REZERVASİYA BUTTON */
.reserve-btn{
    margin-top:60px;
    display:inline-block;
    padding:18px 50px;
    background:red;
    color:white;
    text-decoration:none;
    font-weight:bold;
    border-radius:40px;
    font-size:18px;
    box-shadow:0 0 20px red;
    transition:0.3s;
}

.reserve-btn:hover{
    background:darkred;
    transform:scale(1.1);
}

/* Telefon */
@media(max-width:768px){
    .slogan{
        font-size:28px;
        padding:0 15px;
    }
}
